@media screen and (min-width: 1200px) {








    .thirdPageCheckoutForm {  
        flex-direction: row;
    }

    .checkOut button {
        visibility: hidden;
    }

    .row {
        flex-direction: row;
    }

    
}
