@media screen and (min-width: 1200px) {


    nav{
        position: fixed; 
        z-index: 3;
    }

    header{
        min-height: 100vh;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding-top: 100px;

        .big--logotype{
            display: block;
            width: 700px;
            height: 350px;
            margin-top: 70px;
            margin-left:0;
        }

        h1{
            font-size: 11rem;
            line-height: 9rem;
        }
        .logo--dark{
            // position: relative;
            // left: 100px;
        }
        a{
            text-align: center;
            margin: 0;
        }

    }

.thirdPageCheckoutForm {  
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 25px;
        padding-left: 25px;

    }

    .checkOut button {
        display: none;
    }

    .row {
        flex-direction: row;
    }

}
